body {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  color: #333;
}

#tic-tac-toe-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.historical {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  gap: 5px;
}

.cell {
  background-color: #fff;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  width: 100px;
  height: 100px;
}

.hcell0 {
  border: 1px solid #999;
  display: flex;
  text-align: left;
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
}

.hcell1 {
  border: 1px solid #999;
  display: flex;
  text-align: left;
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
}

.x-img {
  width: 60px;
  height: 60px;
  font-weight: bold;
  color: rgb(20, 20, 238);
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.6));
  background-image: url("https://svgsilh.com/svg/146018.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.o-img {
  width: 60px;
  height: 60px;
  font-weight: bolder;
  color: red;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.6));
  background-image: url("https://svgsilh.com/svg/146009.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cell:hover {
  background-color: #e3e3e3;
}

.game-message {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

#resetButton {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #771111;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.7s ease;
}

#resetButton:hover {
  color: #000;
}

#clearButton {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #0eb499;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.7s ease;
}

#clearButton:hover {
  color: #000;
}

#instructionsButton {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #8f9e09;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.7s ease;
}

#instructionsButton:hover {
  color: #000;
}

main section {
  width: 33%;
  float: left;
}

.emphasize {
  font-weight: bold;
  color: purple;
}

/* Custom modal styles */
.custom-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#modal-text {
  font-size: 1.2rem;
}
